html, body {    
  margin: 0 !important;
  padding: 0 !important;
}

.main-app {
  height: 100vh;
}
.nav-menu {
  background-color: #20BDBE;

}

.ant-layout .ant-layout-sider-children {
  background-color: #20BDBE;
}

.sider {
  position: fixed;
}